* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}


/* transition animation */
.container-preload:before {
  /*animation: transitiont 0.75s alternate;*/
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 100%;
  transform: translate(100%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: all 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.container-preload.finished:before{
  transform: translateY(-50%);
  right: 48%;
}
/* -------------- */

.container-preload {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.container-test {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}


@media (max-width: 870px) {

  .container-preload:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.preload-finished:before{
    transform: translate(100%);
    right: 100%;
  }

  .container-preload {
    min-height: 800px;
    height: 100vh;
  }

}

@media (max-width: 570px) {

  .root {
    display: grid;
    height: 100vh;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: 30% auto 70px;
    grid-template-areas:
      "header"
      "content"
      "nav"
  }

  .top-container {
    grid-area: header;
  }

  .top-nav {
    display: flex;
    height: 20%;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .fa-sign-out-alt{
    color: white;
    z-index: 1;
    top: 8%;
    padding-left: 15px;
  }

  .fa-info{
    color: white;
    z-index: 1;
    top: 1%;
    padding-right: 15px;
  }

  #logo{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  }

  .container-preload {
    padding: 0.5rem;
    position: absolute;
  }
  .content {
    grid-area: content;
    padding: 1.5rem;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  /* transition animation */
  .container-preload:before {
    bottom: 72%;
    left: 5%;
    transform: translatey(50%);
  }

  .container-preload.finished:before {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    overflow: hidden;
    z-index: 1;
    }
  }
  /* -------------- */

  /* Navigation Bar */
  .nav {
    background: #ffffff;
    grid-area: nav;
    /*grid-area: nav;/*
    flex-grow: 1;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    display: flex;
    background: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
    padding: none;
    overflow: hidden;

}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    flex-grow: 1;
    color:  white;
}

