<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'base.css') }}" />
</head>
<body>
  <div class="container-preload">
    <div class="container-content">
      {% block content %}{% endblock %}
      <button id="testbtn">
        www.example.com</button>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'preload.js') }}"></script>
</body>
</html>