{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}" />
  <div class="table">
    <div class="table-header">
      <div class="header-item">
        <i class="fas fa-trophy fa-2x"></i>
      </div>
      <div class="header-item">
        <i class="fas fa-user fa-2x"></i>
      </div>
      <div class="header-item">
        <i class="fas fa-dumbbell fa-2x"></i>
      </div>
    </div>
    {% for row in results %}
    <div class="table-content">
        <div class="table-data-rank">
          1
        </div>
        <div class="table-data-name">
          <span>{{ row[0] }}</span>
        </div>
        <div class="table-data-unit">
          20
        </div>
      </div>
      {% endfor %}
  </div>
{% endblock %}