{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'dashboard.css') }}" />
  <div class="table">
    <div class="table-header">
      <div class="header-item">
        <h2 id="rank" >Rang</h2>
      </div>
      <div class="header-item">
        <h2 id="rank" >Name</h2>
      </div>
      <div class="header-item">
        <h2 id="rank" >Einheiten</h2>
      </div>
      <div class="header-item">
        <h2 id="rank" >Ø</h2>
      </div>
    </div>
    <div class="table-content">
        <div class="table-data-rank">
          1
        </div>
        <div class="table-data-name">
          dummy
        </div>
        <div class="table-data-unit">
          20
        </div>
        <div class="table-data-average">
          3
        </div>
      </div>
  </div>
{% endblock %}