<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
  <title>Sign in & Sign up Form</title>
</head>

<body>
  <div class="container">
    <div class="forms-container">
    </div>
    <div class="signin-signup">
      <form method="POST" action="" class="sign-in-form" autocomplete="off">
        {{login_form.csrf_token}}
        <h2 class="title">Sign in</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          {{login_form.username(placeholder="Username") }}
          {% if login_form.username.errors %}
          <ul class="errors">
            {% for error in login_form.username.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          {{login_form.password(placeholder="Password") }}
          {% if login_form.password.errors %}
          <ul class="errors">
            {% for error in login_form.password.errors %}
            <li>{{ error }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        {{ login_form.submit(class="btn solid") }}



      </form>
      <form method="POST" action="" id="register_form" class="sign-up-form" autocomplete="off">
        {{register_form.csrf_token}}
        <div id="csrf_token-error" class="invalid-feedback"></div>
        <h2 class="title">Registrierung</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          {{register_form.username(placeholder="Username", id="sign-up-username") }}
          <div id="username-error" class="invalid-feedback"></div>
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          {{register_form.email(placeholder="Email", id="sign-up-email") }}
          <div id="email-error" class="invalid-feedback"></div>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          {{register_form.password(placeholder="Passwort", id="sign-up-password") }}
          <div id="password-error" class="invalid-feedback"></div>
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          {{register_form.confirmPassword(placeholder="Passwort bestätigen", id="sign-up-password-confirm") }}
          <div id="confirm-password-error" class="invalid-feedback"></div>
        </div>
        {{ register_form.submit(class="btn", value="Sign up") }}
      </form>
      <div class="error-container">
        <ul id="error-list"></ul>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>Neu hier?</h3>
          <br>
          <button class="btn transparent" id="sign-up-btn">
            <h4>Account erstellen<h4>
          </button>
        </div>
        <img src="{{ url_for('static', filename = 'account.svg') }}" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Du hast schon einen Account?</h3>
          <br>
          <button class="btn transparent" id="sign-in-btn">
            Login
          </button>
        </div>
        <img src="{{ url_for('static', filename = 'account.svg') }}" class="image" alt="" />
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename = 'form.js') }}"></script>

</body>

</html>